<script defer src="/js/register.js"></script>

<div class="adminRegister" style="flex: 1 1 auto; display: flex; align-items: center; justify-content: center;">
  <form class="js-register" style="margin-top: 100px;">
    {{!-- <form method="POST" action="/register" style="margin-top: 100px;"> --}}
      <input name="inputName" placeholder="input name" type="text" minlength="2">
      <input name="inputMail" placeholder="input email" type="email">
      <input name="inputPass" placeholder="input password" type="password" minlength="6">
      <button type="submit">Зарегистрироваться</button>
      <p class="js-hidden err js-reg-err">Заполните все поля</p>
      <p class="js-hidden js-reg-answer">Ваша заявка на получение прав администратора принята</p>
    </form>

    <hr>

    {{!-- <form class="js-login"> --}}
      <form method="POST" action="/login">
        <input name="inputMail" placeholder="input email" type="email">
        <input name="inputPass" placeholder="input password" type="password" minlength="6">
        <button type="submit">Войти</button>
      </form>
</div>
