<form method="POST" action="/register">
  <input name="inputName" placeholder="input name" type="text" minlength="2">
  <input name="inputMail" placeholder="input email" type="email">
  <input name="inputPass" placeholder="input password" type="password">
  <button>Зарегистрироваться</button>
</form>
<hr>
<form method="POST" action="/login">
  <input name="inputMail" placeholder="input email" type="email">
  <input name="inputPass" placeholder="input password" type="password" minlength="6">
  <button>Войти</button>
</form>

