<form method="POST" action="/register" style="margin-top: 100px;">
  <input name="inputName" placeholder="input name" type="text" minlength="2">
  <input name="inputMail" placeholder="input email" type="email">
  <input name="inputPass" placeholder="input password" type="password" minlength="6">
  <button>Зарегистрироваться</button>
</form>
<hr>
<form method="POST" action="/login">
  <input name="inputMail" placeholder="input email" type="email">
  <input name="inputPass" placeholder="input password" type="password" minlength="6">
  <button>Войти</button>
</form>
