<div id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p class="copyright-text">Designed and Developed by Raccons</a>
        </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="social-footer text-right">
          <a href="#"><i class="fab fa-facebook-f icon-round"></i></a>
          <a href="#"><i class="fab fa-twitter icon-round"></i></a>
          <a href="#"><i class="fab fa-linkedin icon-round"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
