@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Gravitas+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap");

/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  height: 100vh !important;
  width: 100% !important;
}

.slider {
  height: 100vh !important;
  width: 100% !important;
}

#carouselExampleCaptions {
  height: 100% !important;
  width: 100% !important;
}

.carousel-inner {
  height: 100% !important;
}

.carousel-item {
  height: 100% !important;
  width: 100% !important;
  position: relative !important;
}

.carousel-item img {
  object-fit: cover !important;
  height: 100% !important;
  width: 100% !important;
}

#cards {
  padding-top: 120px;
  margin-top: -70px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

#aboutus {
  padding-top: 100px;
  margin-top: -70px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  text-align: center;
}

#aboutus h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 50px;
  margin: 0;
  margin-top: 20px;
}

#aboutus h3 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 900;
}

#aboutus p {
  font-family: "Comfortaa", sans-serif;
}

.title-order-form {
  margin: 20px;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  padding: 40px;
  max-width: 1200px;
  width: 100%;
  background-color: rgb(231, 231, 231);
}

.container-order-form div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-order-form div .field {
  border-radius: 3px;
  border: none;
  margin: 10px;
  width: 500px;
  height: 40px;
  padding: 15px;
  font-size: 1.1rem;
}

.container-order-form div .message {
  width: 600px;
  height: 300px;
  resize: none;
}

.container-order-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-order-form form .btn {
  margin: 10px;
  font-size: 1.1rem;
  width: 200px;
  height: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(71, 71, 71);
  outline: none;
  border: none;
}
